@import url('http://fonts.cdnfonts.com/css/righteous');
@import url('http://fonts.cdnfonts.com/css/prompt');
@import url('http://fonts.cdnfonts.com/css/amiko');

html,body,#block-container{
    background-color: #264653;
    height:100%;
}
#page-structure{
    height: 100vh;
    background-color: #264653;
}
.btn-perso{
    width : 302px;
    height : 52px;
    background-color: #F4A261;
    border-color: #E76F51;
    border-width: 2px;
    border-radius: 32px;
    color : #264653;
    font-weight: bold;
}
.btn-perso:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#row1{
    height: 10%;
}
#row2{
    height:90%;
}
#title{
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 96px;
}
#block5{
    color : white;
    font-size : 40px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    height: 50px;
}
#block6,#block7{
    bottom:10px;
}

img{
    width:100%;
    height:auto;
    background-color: transparent;
    padding-bottom: 10px;
}
h3{
    color : #E76F51;
    font-size : 25px;
}
