* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    background: #264653;
}
.headerButton {
    color:#f4a261;
    font-size: 40px;
    background: transparent;
}
.headerButton .fa {
    font-size: 30px;
}
.header_container {
    width: 100%;
    position: absolute;
    z-index: 10;
}
.page-wrapper
,.header_container .header
,.header_container .headerTitle {
    max-width: 1300px;
    width: 80%;
    margin: 0px auto;
}
.header_container .header
,.header_container .headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.headerTitle{
    border-bottom: 1px solid #000;
    font-size: 46px;
    color:#f4a261;
}

.header_container .header_logo img {
    width: 200px;
}

.header_container .header_buttons {
    display: flex;
    flex-flow: column;
    padding-right: 100px;
}
.page-wrapper {
    padding: 281px 0 90px 0;
}
.avarImg img {
    height: 165px;
}
.avarTitle {
    color:#f4a261;
    font-size: 45px;
    padding-left: 20px;
}
.avatarBlock {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.accountBlock {
    display: block;
    padding: 20px 0 0 20px;
}
.accountItem
,.groupBlock__Content__Item {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.accountItem__label {
    color:#f4a261;
    font-size: 50px;
    padding-left: 20px;
}
.accountItem__label a {
    display: inline-block;
    text-decoration: none;
    color:#f4a261;
}
.accountItem__label button {
    color:#f4a261;
    font-size: 50px;
}
.accountItem__arrow {
    background-image: url("/images/arrow1.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 82px;
    background-size: contain;
    background-color: transparent;
}
.groupBlocks {
    display: flex;
    flex-flow: row;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}
.groupBlock {
    display: flex;
    flex-flow: column;
    background:#2a9d8f;
    border-radius: 10px;
    padding: 20px 10px 20px 20px;
    margin-right: 20px;
    border-color:#E76f51;

}

.groupBlocks > * {flex: 1 1 0;}
.groupBlock__Title {
    font-size: 50px;
    color: #f4a261;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 20px;
}
.groupBlock__Content {
	
}
.groupBlock__Content__Item {
    
}
.groupBlock__Content__Item__arrow {
    background-image: url("/images/arrow2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 82px;
    background-color: transparent;
}
.groupBlock__Content__Item__label {
    padding-left: 20px;
}
.groupBlock__Content__Item__label a {
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 35px;
}
@media only screen and (min-width: 1400px) {
    .header_container.header_container {
    }
    .page-wrapper {
    }
}
