@import url('http://fonts.cdnfonts.com/css/righteous');
@import url('http://fonts.cdnfonts.com/css/prompt');
@import url('http://fonts.cdnfonts.com/css/rubik');


body{
    background-color: #264653;
}

main {
    margin-left: 17.5%;
}

.sidenav{
    height: 100%;
    width: 17.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #F4A261;
    border-right: 10px solid #E76F51;
}

.sidenav .sidebar_icon{
    display: flex;
    align-items: center;
}

.sidenav a {
    padding-left: 7%;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #264653;
}

.sidenav .sidebar_icon {
    text-align: center;
    padding: 5% 5% 5% 5%;
}

.sidenav div:last-child {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    bottom: 2%;
    list-style-type: none;
}

.sidenav div:first-child {
    padding-top: 3%;
    padding-bottom: 4%;
}

.sidenav div:nth-child(3) {
    padding-top: 15%;
}

.moi {
    margin-right: 2%;
}

div .sideline {
    background-color: #264653;
    border-radius: 25%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3px;
}

.sidenav a:hover, a:focus {
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.header h1 {
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 96px;
    text-align: center;
    margin-left: 17.5%;
}

main div.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav .personne {
    font-size: 27px;
    font-family: 'Righteous', sans-serif;
}
