@import url('http://fonts.cdnfonts.com/css/righteous');
@import url('http://fonts.cdnfonts.com/css/prompt');
@import url('http://fonts.cdnfonts.com/css/amiko');
@import url('http://fonts.cdnfonts.com/css/sedan-sc');
@import url('http://fonts.cdnfonts.com/css/rubik');
html,body,#page-structure,#block-container{
    background-color: #264653;
    height:100vh;
}
.btn-perso{
    margin-top: 25px;
    width : 302px;
    height : 52px;
    background-color: #F4A261;
    border-color: #E76F51;
    border-width: 2px;
    border-radius: 32px;
    color : #264653;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.btn-perso:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#row1{
    height: 10%;
}
#row2{
    height:60%;
}
#row3{
    height:30%;
}
#title{
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 96px;
}
#block5{
    color : white;
    font-size : 40px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    padding-top : 20px;
}
img{
    width:70%;
    height:auto;
    background-color: transparent;
}
h3{
    color : #E76F51;
    font-size : 25px;
}
h2{
    font-family: 'Sedan SC', sans-serif;
    color: #000000;
    width: 100%;
    text-align: center;
    margin-top: 6px;
}
.champ{
    background: #eddcd2;
    margin: 5px 0;
    border-radius: 28px;
    width: 90%;
}
#row_body{
    height:auto;
}
label{
    color:black;
    font-size: 25px;
}
.form-group{
    width: 100%;
}
input[type="radio"]{
    margin: 0 15px;
    size: 4px;
}
::-webkit-input-placeholder{
    text-align: center;
}
::-moz-placeholder{
    text-align: center;
}
textarea{
    width : 90%;
    max-width: 90%;
    max-height: 95px;
    resize : none;
    background-color : #d2d2c3;
}
input[type="text"],input[type="date"],input[type="number"],input[type="time"]{
    background-color: #d2d2c3;
    text-align : center;
}
::-webkit-calendar-picker-indicator{
    display: none;
}
#groups_choice{
    display : none;
    overflow-y: auto;
    max-height : 100px;
}
#table_etapes{
    overflow-y: auto;
    max-height : 180px;
    text-align: center;
}
.btn-rond{
    width : 70px;
    height : 70px;
    background-color: #F4A261;
    border-color: #000000;
    border-width: 2px;
    border-radius: 40px;
    color : #264653;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}
#add_div{
    width: 100%;
    margin-bottom: 7px;
}
#date,#time{
    width: 90%;
}
.btn-perso-small{
    margin-top: 4px;
    width : 170px;
    height : 50px;
    background-color: #F4A261;
    border-color: #E76F51;
    border-width: 2px;
    border-radius: 32px;
    color : #264653;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.btn-perso-small:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.table>tbody>tr>td{
    vertical-align: middle;
    text-align: center;
}
.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}
#contenuModal{
    background: #f4a261;
    stroke-width: 2px;
    stroke: #e76f51;
    border-radius: 28px;
    width: 100%;
}
.modal1sur2boutons{
    width:50%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form-control-login-perso{
    width:50%;
    height:60px;
    font-size: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
#mes_trajets_table_div,#table_created_group_div,#liste_trajet_div{
    overflow-y: auto;
    max-height: 670px;
    background: transparent;
}
#mes_trajets_table,#table_trip_find,#table_group_add_user,#table_created_group,#liste_trajet{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 95%;
}
#mes_trajets_table th,#table_trip_find th,#table_created_group th,#liste_trajet th{
    color:black;
    font-weight: bold;
    position: sticky;
    top:0;
    background: #2a9d8f;
}
#mes_trajets_table th:first-child,#table_trip_find th:first-child,#liste_trajet th:first-child{
    border-bottom-left-radius: 20px;
}
#mes_trajets_table th:last-child,#table_trip_find th:last-child,#liste_trajet th:last-child{
    border-bottom-right-radius: 20px;
}
#body-modal{
    background: #2a9d8f;
    border-radius: 28px;
    margin: 15px 15px;
}
#table_etapes{
    margin: 0px 4px;
    width: 70%;
}
#table_etapes tr:nth-child(odd),#mes_trajets_table tr:nth-child(odd),#table_users_find tr:nth-child(odd),#table_trip_find tr:nth-child(odd),#table_group_add_user tr:nth-child(odd),#table_created_group tr:nth-child(odd),#liste_trajet tr:nth-child(odd){
    background : #f4a261;
}
#table_etapes tr:nth-child(even),#mes_trajets_table tr:nth-child(even),#table_users_find tr:nth-child(even),#table_trip_find tr:nth-child(even),#table_group_add_user tr:nth-child(even),#table_created_group tr:nth-child(even),#liste_trajet tr:nth-child(even){
    background: #e76f51;
}
#colored_header{
    color: #e76f51;
}
h4{
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
}
#table_users_find_div,#table_group_add_user_div{
    overflow: auto;
    max-height: 600px;

}
#table_users_find{
    border-collapse: separate;
    border-spacing: 4px;
}
#table_users_find th,#table_group_add_user th{
    background: #2a9d8f;
    font-weight: bold;
    position: sticky;
    top:0;
    border-radius:10px;
}

#table_users_find td{
    border-radius: 28px;
}
.first_cell,#table_trip_find td:first-child,#table_group_add_user td:first-child,#table_created_group td:first-child,#liste_trajet td:first-child{
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
}
.before_last_cell,#table_trip_find td:nth-last-child(2),#table_group_add_user td:first-child,#table_created_group td:first-child{
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.last_cell,#table_group_add_user td:last-child,#table_trip_find td:last-child{
    background: #264653;
    border:0px;
}
#table_trip_find_div{
    overflow: auto;
    max-height: 500px;
}

