@import url('http://fonts.cdnfonts.com/css/righteous');
@import url('http://fonts.cdnfonts.com/css/prompt');
@import url('http://fonts.cdnfonts.com/css/amiko');
@import url('http://fonts.cdnfonts.com/css/sedan-sc');

html,body,#page-structure,#block-container{
    background-color: #264653;
    height:100vh;
}
.btn-perso{
    margin-top: 25px;
    width : 302px;
    height : 52px;
    background-color: #F4A261;
    border-color: #E76F51;
    border-width: 2px;
    border-radius: 32px;
    color : #264653;
    font-weight: bold;
}
.btn-perso:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#row1{
    height: 10%;
}
#row2{
    height:60%;
}
#row3{
    height:30%;
}
#title{
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 96px;
}
#block5{
    color : white;
    font-size : 40px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    padding-top : 20px;
}
img{
    width:70%;
    height:auto;
    background-color: transparent;
    padding-bottom: 10px;
}
h3{
    color : #E76F51;
    font-size : 25px;
}
h2{
    font-family: 'Sedan SC', sans-serif;
    color: #000000;
    width: 100%;
    text-align: center;
}
.champ{
    background: #eddcd2;
    margin: 5px 4px;
    border-radius: 28px;
}
#row_title{
    height:20vh;
}
#row_body{
    height:80vh;
}
label{
    color:black;
    font-size: 25px;
}
.form-group{
    width: 100%;
}
input{
    text-align: center;
}
input[type="radio"]{
    margin: 0 15px;
    size: 4px;
}
::-webkit-input-placeholder{
    text-align: center;
}
::-moz-placeholder{
    text-align: center;
}
